.contact {
    .contact-content {
        padding-block: 3em;
        display: grid;
        gap: 5rem;
        @media screen and (min-width:48rem) {
            grid-template-columns: 1fr 1fr;
        }
    }
}