.blog {
    .blog-content {
        padding: 3em 0;
        display: grid;
        gap: 3rem;
        grid-template-columns: 1fr;
        @media screen and (min-width:48rem) {
            grid-template-columns: 1fr 1fr;
        }
        @media screen and (min-width:64rem) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}