
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: 'Noto Sans', sans-serif;
}

:root {
  --transition: all 300ms ease-in-out;
}

html {
  font-size: 65.5%;
  scroll-behavior: smooth;
}

img {
  width: 100%;
  display: block;
}
a {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

::-webkit-scrollbar {
  display: none;
}


