.top-footer {
    background-color: #021f3f;
    color: #ced7e6;
    .top-footer-container {
        align-items: center;
        justify-content: space-between;
        padding: 0.5em 0;
        font-size: 1.2rem;
    }
}